@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&family=Josefin+Sans:wght@400;700&family=Lato:wght@100;300;700;900&family=Montserrat:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
@import 'deha';